<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Diplom</title> 
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href='/static/style.css'>
    </head>
    <body>
        <script>
          function ExecPythonCommand(pythonCommand){
            var request = new XMLHttpRequest()
            request.open("GET", "/" + pythonCommand, true)
            request.send()
          }
        </script>

        <div class="bd-example" align="middle">

            <center><h1>Дипломная работа</h1></center>
            
            <section class="cyberpunk black">
              <img class="cyberpunk" width="720" height="480" src="{{ url_for('video_feed') }}" alt="" />
            </section>
            <footer style="background-color: var(--color-yellow); height: 50px;"></footer>
            <center><h2>Выполнили: Соколов Никита и Березин Марк</h2></center>

        </div>

        <div class="wheels">
          
          <button style = "top: 50%; left: 60px;", onmousedown="return ExecPythonCommand('left()')", onmouseup="return ExecPythonCommand('stop()')"><i class="arrow left"></i></button>
          <button style = "top: 50%; left: 260px;", onmousedown="return ExecPythonCommand('right()')", onmouseup="return ExecPythonCommand('stop()')"><i class="arrow right"></i></button>
          <button style = "top: 40%; left: 160px;", onmousedown="return ExecPythonCommand('forward()')", onmouseup="return ExecPythonCommand('stop()')"><i class="arrow up"></i></button>
          <button style = "top: 60%; left: 160px;", , onmousedown="return ExecPythonCommand('backward()')", onmouseup="return ExecPythonCommand('stop()')"><i class="arrow down"></i></button>

        </div>

        <div class="camera">
          
          <button style = "top: 50%; right: 260px;", onmousedown="return ExecPythonCommand('left_servo()')"><i class="arrow left"></i></button>
          <button style = "top: 50%; right: 60px;", onmousedown="return ExecPythonCommand('right_servo()')"><i class="arrow right"></i></button>
          <button style = "top: 40%; right: 160px;", onmousedown="return ExecPythonCommand('up_servo()')"><i class="arrow up"></i></button>
          <button style = "top: 60%; right: 160px;", onmousedown="return ExecPythonCommand('down_servo()')"><i class="arrow down"></i></button>
        
        </div>
    </body>
</html>
